body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #3498db, #1abc9c);
    background-size: 400% 400%;
    animation: gradientAnimation 15s infinite;
    background-color: #2c3e50;
    color: #ecf0f1;
    background-image: url('texture.png'); 
    opacity: 0.9;
}

@keyframes gradientAnimation {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff8c00;
}

main {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
}

h1 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #333;
    color: white;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

/* Media queries for responsiveness */
@media (max-width: 900px) {
    section {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    section {
        width: 100%;
    }
}

#raed{
    color: crimson;
    font-size: xx-large;
}